USE [SIAC_QUIMICA]
GO
/****** Object:  Table [dbo].[PROV_CONT]    Script Date: 15/04/2020 08:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROV_CONT](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[PROVEEDOR] [smallint] NOT NULL,
	[PRIORIDAD] [smallint] NOT NULL,
	[NOMBRE] [char](150) NOT NULL,
	[PUESTO] [char](150) NOT NULL,
	[CORREO] [char](150) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PROV_CONT] ON 

INSERT [dbo].[PROV_CONT] ([RECNUM], [PROVEEDOR], [PRIORIDAD], [NOMBRE], [PUESTO], [CORREO]) VALUES (914, 1, 1, N'CHAITANYA MANKAR                                                                                                                                      ', N'                                                                                                                                                      ', N'chaitanya.mankar@aastrid.com                                                                                                                          ')
INSERT [dbo].[PROV_CONT] ([RECNUM], [PROVEEDOR], [PRIORIDAD], [NOMBRE], [PUESTO], [CORREO]) VALUES (915, 2, 1, N'ALVARO LECAROS                                                                                                                                        ', N'                                                                                                                                                      ', N'alvaro_lecaros@ajay-sqm.cl                                                                                                                            ')
INSERT [dbo].[PROV_CONT] ([RECNUM], [PROVEEDOR], [PRIORIDAD], [NOMBRE], [PUESTO], [CORREO]) VALUES (916, 3, 1, N'MAANAL SHETH                                                                                                                                          ', N'                                                                                                                                                      ', N'maanal@primepharma.com.in                                                                                                                             ')
GO
SET IDENTITY_INSERT [dbo].[PROV_CONT] OFF
ALTER TABLE [dbo].[PROV_CONT] ADD  DEFAULT ((0)) FOR [PROVEEDOR]
GO
ALTER TABLE [dbo].[PROV_CONT] ADD  DEFAULT ((0)) FOR [PRIORIDAD]
GO
ALTER TABLE [dbo].[PROV_CONT] ADD  DEFAULT ('') FOR [NOMBRE]
GO
ALTER TABLE [dbo].[PROV_CONT] ADD  DEFAULT ('') FOR [PUESTO]
GO
ALTER TABLE [dbo].[PROV_CONT] ADD  DEFAULT ('') FOR [CORREO]
GO
